@model IEnumerable<Doctors_WebForum.Models.ViewModels.SpecializeViewModel>

<div class="container">
    <div class="row">
        <div class="col-lg-8 breadcrumbf">
            <a href="#">Borderlands 2</a> <span class="diviver">&gt;</span> <a href="#">General Discussion</a> <span class="diviver">&gt;</span> <a href="#">Posts</a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-8">
            <!-- POST -->
            @foreach (var item in Model)
            {
                <div class="post">
                    <div class=col-lg-12 style="background-color: #1abc9c">
                        <div class="Specialize">
                            <h2 style="color:white">@item.SpecializeName</h2>
                            <p style="font-size: 11px; color:white">@item.Description</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="wrap-ut pull-left">
                        @foreach (var topic in ViewBag.listTopic)
                        {
                            if (topic.Specialize_ID == item.Id)
                            {
                                <div class="userinfo pull-left">
                                    <div class="avatar">
                                        <img src="~/Content/images/icon-message.png" alt="" />
                                    </div>
                                </div>
                                <div class="posttext pull-left">
                                    <a href="@Url.Action("Get", "Post", new { id = topic.Id })">@topic.TopicName</a>
                                    <p style="font-size: 12px">
                                        chủ đề:
                                        @{
                                            int countPost = 0;
                                            foreach (var post in ViewBag.listPost)
                                            {
                                                if (topic.Id == post.Topic_ID && post.StatusBlock == false)
                                                {
                                                    countPost = countPost + 1;
                                                }
                                            }
                                            <b>@countPost</b>
                                        }

                                        Bài viết:
                                        @{
                                            // Count tổng số comment và replyComment chính là tổng số bài viết
                                            int countComment = 0;
                                            int countReplyComment = 0;
                                            foreach (var post in ViewBag.listPost)
                                            {
                                                if (topic.Id == post.Topic_ID && post.StatusBlock == false)
                                                {
                                                    foreach (var comment in ViewBag.listComment)
                                                    {
                                                        if (comment.Post_ID == post.Id)
                                                        {
                                                            countComment = countComment + 1;
                                                        }
                                                        foreach (var replyComment in ViewBag.listReplyCommentView)
                                                        {
                                                            if (comment.Post_ID == post.Id)
                                                            {
                                                                if (replyComment.Comment_ID == comment.Id)
                                                                {
                                                                    countReplyComment = countReplyComment + 1;
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                            int count = countPost + countComment + countReplyComment;

                                            <b>@count</b>
                                        }
                                    </p>

                                </div>
                            }
                        }
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            }
        </div>
        <!-- POST -->

        <div class="col-lg-4 col-md-4">

            <!-- -->
            <div class="sidebarblock">
                <h3>Thành viên</h3>
                <div class="divline"></div>
                <div class="blocktxt">
                    <ul class="cats">
                        <li><a href="#">Thành viên đăng kí <span class="badge pull-right">@ViewBag.countUser</span></a></li>
                        <li><a href="#">Lượt truy cập <span id="counter" class="badge pull-right"></span></a></li>
                    </ul>
                </div>
            </div>

            <!-- -->
            <div class="sidebarblock">
                <h3>Poll of the Week</h3>
                <div class="divline"></div>
                <div class="blocktxt">
                    <p>Which game you are playing this week?</p>
                    <form action="#" method="post" class="form">
                        <table class="poll">
                            <tr>
                                <td>
                                    <div class="progress">
                                        <div class="progress-bar color1" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                                            Call of Duty Ghosts
                                        </div>
                                    </div>
                                </td>
                                <td class="chbox">
                                    <input id="opt1" type="radio" name="opt" value="1">
                                    <label for="opt1"></label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="progress">
                                        <div class="progress-bar color2" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 63%">
                                            Titanfall
                                        </div>
                                    </div>
                                </td>
                                <td class="chbox">
                                    <input id="opt2" type="radio" name="opt" value="2" checked>
                                    <label for="opt2"></label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="progress">
                                        <div class="progress-bar color3" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
                                            Battlefield 4
                                        </div>
                                    </div>
                                </td>
                                <td class="chbox">
                                    <input id="opt3" type="radio" name="opt" value="3">
                                    <label for="opt3"></label>
                                </td>
                            </tr>
                        </table>
                    </form>
                    <p class="smal">Voting ends on 19th of October</p>
                </div>
            </div>

            <!-- -->
            <div class="sidebarblock">
                <h3>My Active Threads</h3>
                <div class="divline"></div>
                <div class="blocktxt">
                    <a href="#">This Dock Turns Your iPhone Into a Bedside Lamp</a>
                </div>
                <div class="divline"></div>
                <div class="blocktxt">
                    <a href="#">Who Wins in the Battle for Power on the Internet?</a>
                </div>
                <div class="divline"></div>
                <div class="blocktxt">
                    <a href="#">Sony QX10: A Funky, Overpriced Lens Camera for Your Smartphone</a>
                </div>
                <div class="divline"></div>
                <div class="blocktxt">
                    <a href="#">FedEx Simplifies Shipping for Small Businesses</a>
                </div>
                <div class="divline"></div>
                <div class="blocktxt">
                    <a href="#">Loud and Brave: Saudi Women Set to Protest Driving Ban</a>
                </div>
            </div>
        </div>
    </div>
</div>


@* Đoạn script xử lí đếm số thành viên dag truy cập wed *@
<script src="https://code.jquery.com/jquery-1.10.2.js" integrity="sha256-it5nQKHTz+34HijZJQkpNBIHsjpV8b6QzMJs9tmOBSo=" crossorigin="anonymous"></script>
<script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
<script src="~/signalr/hubs"></script>
<script>
    $(function () {
        var counterHub = $.connection.counterHub;

        $.connection.hub.start().done(function () {

        });

        counterHub.client.UpdateCount = function (count) {
            $("#counter").text(count);
        };
    });
</script>