@model IEnumerable<Doctors_WebForum.Models.ViewModels.PostViewModel>

<div class="container">
    <div class="row">
        <div class="col-lg-8 breadcrumbf">
            <a href="#">Borderlands 2</a> <span class="diviver">&gt;</span> <a href="#">General Discussion</a> <span class="diviver">&gt;</span> <a href="#">Posts</a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-8">
            <!-- POST -->
            @foreach (var item in Model)
            {
                <div class="post">
                    <div class="wrap-ut pull-left">
                        <div class="userinfo pull-left">
                            <div class="avatar">
                                @if (item.ImageDoctor != null)
                                {
                                    <a href="@Url.Action("User", "Profile", new {id = item.Doctor_ID})" title="profile"><img height="50" width="50" src="~/Content/images/@item.ImageDoctor" alt="" /></a>
                                }
                                else
                                {
                                    <a href="@Url.Action("User", "Profile", new {id = item.Doctor_ID})" title="profile"><img height="50" width="50" src="~/Content/images/user.png" alt="" /></a>
                                }
                                @*<div class="status green">&nbsp;</div>*@
                            </div>
                        </div>
                        <div class="posttext pull-left">
                            <a href="@Url.Action("DetailPost", "Post", new {id = item.Id})">@item.PostName</a>
                            <p style="font-size: 12px"><a href="@Url.Action("User", "Profile", new {id = item.Doctor_ID})" title="profile">@item.DoctorName</a>, @item.CreateDate</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="postinfo pull-left">
                        <div class="comments">
                            <div class="commentbg">
                                @{
                                    // Count tổng số comment và replyComment
                                    int countComment = 0;
                                    int countReplyComment = 0;
                                    foreach (var comment in ViewBag.listComment)
                                    {
                                        if (comment.Post_ID == item.Id)
                                        {
                                            countComment = countComment + 1;
                                        }
                                        foreach (var replyComment in ViewBag.listReplyCommentView)
                                        {
                                            if (comment.Post_ID == item.Id)
                                            {
                                                if (replyComment.Comment_ID == comment.Id)
                                                {
                                                    countReplyComment = countReplyComment + 1;
                                                }
                                            }
                                        }
                                    }
                                    int count = countComment + countReplyComment;

                                    @count
                                }
                                <div class="mark"></div>
                            </div>

                        </div>
                        <div class="views"><i class="fa fa-eye"></i> 1,568</div>
                        <div class="time">
                            <i class="fa fa-thumbs-o-up"></i>
                            @{
                                int countLike = 0;
                                foreach (var likePost in ViewBag.listLikePost)
                                {
                                    if (likePost.Post_ID == item.Id && likePost.StatusLike == true)
                                    {
                                        countLike = countLike + 1;
                                    }
                                }
                                @countLike
                            }
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            }
            <!-- POST -->
        </div>

        <div class="col-lg-4 col-md-4">

            <!-- -->
            <div class="sidebarblock">
                <h3>Categories</h3>
                <div class="divline"></div>
                <div class="blocktxt">
                    <ul class="cats">
                        <li><a href="#">Trading for Money <span class="badge pull-right">20</span></a></li>
                        <li><a href="#">Vault Keys Giveway <span class="badge pull-right">10</span></a></li>
                        <li><a href="#">Misc Guns Locations <span class="badge pull-right">50</span></a></li>
                        <li><a href="#">Looking for Players <span class="badge pull-right">36</span></a></li>
                        <li><a href="#">Stupid Bugs &amp; Solves <span class="badge pull-right">41</span></a></li>
                        <li><a href="#">Video &amp; Audio Drivers <span class="badge pull-right">11</span></a></li>
                        <li><a href="#">2K Official Forums <span class="badge pull-right">5</span></a></li>
                    </ul>
                </div>
            </div>

            <!-- -->
            <div class="sidebarblock">
                <h3>Poll of the Week</h3>
                <div class="divline"></div>
                <div class="blocktxt">
                    <p>Which game you are playing this week?</p>
                    <form action="#" method="post" class="form">
                        <table class="poll">
                            <tr>
                                <td>
                                    <div class="progress">
                                        <div class="progress-bar color1" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                                            Call of Duty Ghosts
                                        </div>
                                    </div>
                                </td>
                                <td class="chbox">
                                    <input id="opt1" type="radio" name="opt" value="1">
                                    <label for="opt1"></label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="progress">
                                        <div class="progress-bar color2" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 63%">
                                            Titanfall
                                        </div>
                                    </div>
                                </td>
                                <td class="chbox">
                                    <input id="opt2" type="radio" name="opt" value="2" checked>
                                    <label for="opt2"></label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="progress">
                                        <div class="progress-bar color3" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
                                            Battlefield 4
                                        </div>
                                    </div>
                                </td>
                                <td class="chbox">
                                    <input id="opt3" type="radio" name="opt" value="3">
                                    <label for="opt3"></label>
                                </td>
                            </tr>
                        </table>
                    </form>
                    <p class="smal">Voting ends on 19th of October</p>
                </div>
            </div>

            <!-- -->
            <div class="sidebarblock">
                <h3>My Active Threads</h3>
                <div class="divline"></div>
                <div class="blocktxt">
                    <a href="#">This Dock Turns Your iPhone Into a Bedside Lamp</a>
                </div>
                <div class="divline"></div>
                <div class="blocktxt">
                    <a href="#">Who Wins in the Battle for Power on the Internet?</a>
                </div>
                <div class="divline"></div>
                <div class="blocktxt">
                    <a href="#">Sony QX10: A Funky, Overpriced Lens Camera for Your Smartphone</a>
                </div>
                <div class="divline"></div>
                <div class="blocktxt">
                    <a href="#">FedEx Simplifies Shipping for Small Businesses</a>
                </div>
                <div class="divline"></div>
                <div class="blocktxt">
                    <a href="#">Loud and Brave: Saudi Women Set to Protest Driving Ban</a>
                </div>
            </div>
        </div>
    </div>
</div>


