@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@model Doctors_WebForum.Models.ViewModels.TopicViewModelAdmin

<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">Thêm Chủ Đề Mới</h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="@Url.Action("Index", "Admin")" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                <li class="m-nav__separator">-</li>
                <li class="m-nav__separator"></li>
                <li class="m-nav__item">
                    <a href="@Url.Action("GetTopic", "Admin")" class="m-nav__link">
                        <i class="m-menu__link-icon flaticon-menu-2"></i>
                    </a>
                </li>
                <li class="m-nav__separator"></li>
                <li class="m-nav__separator">-</li>
                <li class="m-nav__separator"></li>
                <li class="m-nav__item">
                    <a href="@Url.Action("CreateNewTop", "Admin")" class="m-nav__link">
                        <i class="m-nav__link-icon la la-plus-circle"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div>

        </div>
    </div>
</div>


<div class="m-content">
    <div class="m-portlet m-portlet--tab">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <span class="m-portlet__head-icon m--hide">
                        <i class="la la-gear"></i>
                    </span>
                    <h3 class="m-portlet__head-text">
                        Tạo Chủ Đề Mới
                    </h3>
                </div>
            </div>
        </div>

        <!--begin::Form-->
        <form class="m-form m-form--fit m-form--label-align-right" method="post">
            <div class="m-portlet__body">

                <div class="form-group m-form__group">
                    <label for="exampleInputPassword1">Tên Chủ Đề :</label>
                    @Html.TextBoxFor(model => model.TopicName, new { @class = "form-control m-input m-input--air m-input--pill", id = "exampleInputPassword1", placeholder = "Tên Chủ Đề", autocomplete = "off" })
                    @Html.ValidationMessageFor(model => model.TopicName, "", new { @class = "text-danger" })
                </div>
                <div class="form-group m-form__group">
                    <label for="exampleInputPassword1">Mô Tả :</label>
                    @Html.TextAreaFor(model => model.Description, new { @class = "form-control m-input m-input--air m-input--pill", id = "exampleTextarea", placeholder = "Mô Tả", autocomplete = "off", rows = "10" })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
                <div class="form-group m-form__group">
                    <label for="exampleSelect1">Tên Chuyên Môn :</label>
                    @Html.DropDownListFor(model => model.Specialize_ID, ViewBag.Specializelist as SelectList, "--select--", new { @class = "form-control m-input m-input--air m-input--pill", id = "exampleSelect1", autocomplete = "off" })
                </div>


            </div>
            <div class="m-portlet__foot m-portlet__foot--fit">
                <div class="m-form__actions">
                    @Html.HiddenFor(model => model.Id)
                    <button type="submit" class="btn btn-brand" onclick="myFunction()">Thêm Chủ Đề</button>
                    <button type="reset" class="btn btn-secondary">Hủy Bỏ</button>
                </div>

            </div>
        </form>


        <!--end::Form-->
    </div>

</div>




@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
}